<div class="banner banner-home" style="background-image: linear-gradient(-225deg, #101010 0%, rgba(0,36,61,0.5) 0%), url('https://images.unsplash.com/photo-1505820013142-f86a3439c5b2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=aa23c2d9d8db183be20f03764d6ee30f&auto=format&fit=crop&w=1051&q=80');">
  <div class="banner-content">
    <h4>Welcome to </h4>
    <h1>FUNSHROOMS</h1>
    <p>Sort out Mushrooms</p>
  </div>
</div>

  <section class="container">

    <h1>Mushrooms</h1>


    <nav>
      <ul class ="filter">
       <li>
        <%= check_box_tag 'edible', 'e', false, class: 'filter-item' %>
        <%= label_tag :edible, "Edible" %>
      </li>
      <li>
        <%= check_box_tag 'edible', 'p', false, class: 'filter-item' %>
        <%= label_tag :edible, "Poisonous" %>
      </li>
      <li>
        <%= check_box_tag 'cap_color', 'n', false, class: 'filter-item' %>
        <%= label_tag :cap_color, "Brown" %>
      </li>
      <li>
        <%= check_box_tag :all_mushrooms, "true", @all_mushrooms %>
        <%= label_tag :all_mushrooms, "Show all" %>
      </li>
    </ul>
  </nav>

  <div class="result">
    <span class="result-loader"></span>
    <div class="result-content">
      <ul>

      </ul>
    </div>
  </div>
</section>

